/* Custom Global Adjustments */
body {
    -webkit-tap-highlight-color: transparent;
}

/* Form Custom Animations & Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Custom Scrollbar for HTML Table Overflow */
.overflow-x-auto::-webkit-scrollbar {
    height: 6px;
}

.overflow-x-auto::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}